@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #f0b719;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #f4f4f4;
  --color-dark: #363949;
  --color-light: #rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #CCD1D9;
  --color-background: #666666;
}

/******* NAVBAR LINKS *********/

nav {
  z-index: 2;
}
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-dark);
} 

.navbar-nav > li > a:hover {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-warning);
} 

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--color-warning);
}

.navbar-brand {
  font-family: "Libre Baskerville" ;
  color: var(--color-warning) !important;
}

.navbar-toggler-icon {
  color: var(--color-white) !important;
}


/******* HEADER *********/

.header-wraper {
  position: relative;
  background: url(images/background33.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  z-index: 2;
}

.btn-main-offer:hover {
  color: var(--color-warning);
  transition: .5s ease;

}

.main-info h1 {
  color: var(--color-warning);
  font-size: 2.5rem;
  padding-bottom: 10px;
  border-bottom: 3px solid #e3e3eb;
  letter-spacing: 5px;
  font-family: "Libre Baskerville", sans-serif;
}

.main-info h2 {
  font-size: 2rem;
  padding-top: 5px;
  color: var(--color-warning);
  font-family: "Libre Baskerville", sans-serif;
  
}

/******** TYPED TEXT *******/

.typed-text {
  padding-top: 10px;
  font-size: 2rem;
  color: var(--color-white);
}

/******** MAIN OFFER BUTTON *******/

.btn-main-offer {
  border: 1px solid var(--color-warning);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px;
  color: var(--color-white);
  margin-top: 2rem;
}

/******** PARTICLES JS *******/

/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100vh;
  height: 100vw;
  z-index: 1;
}

/*Animation stuff*/
.main-info {
  animation-name: zoomIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    filter: blur(10px);
  }
  40% {
    transform: scale(1);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

/******* ABOUT ME *********/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin-top: 3rem;
  width: 16rem;
  border-radius: 25%;
  padding: 0.3rem;
  border: 2px solid var(--color-warning);
  z-index: 2;
}

.about {
  font-size: 2rem;
  font-family: "Libre Baskerville", sans-serif;
  text-align: center;
  color: var(--color-warning);
  text-transform: uppercase;
  
}

.about-text {
  font-family: "Roboto Condensed";
  text-align: justify;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/******** EDUCATION *******/

.box {
  padding: 10px;
  height: 22rem;
  background: var(--color-white);
  border-bottom: 4px solid var(--color-dark);
}

.box:hover {
  border-bottom: 4px solid var(--color-warning);
}

.box h3, p {
  font-family: "Roboto Condensed";
  text-align: center;
  
}

.education {
  background: var(--color-dark);
}

.education h1 {
  font-size: 2rem;
  font-family: "Libre Baskerville", sans-serif;
  text-align: center;
  padding-top: 2rem;
  color: var(--color-warning);
  text-transform: uppercase;
}

.education h3 {
  color: var(--color-info-dark);
}

.education p {
  color: var(--color-dark);
}

.circle {
  padding: 0.75rem 0;
  text-align: center;
  background: var(--color-warning);
  margin-bottom: 15px;
  z-index: 2;
}

/******** HISTORY *******/

.history-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.history h1 {
  text-transform: uppercase;
  color: var(--color-warning);
  font-family: "Libre Baskerville", sans-serif;
  text-align: center;
}

.history-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--color-warning);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--color-warning);
  background: var(--color-white);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--color-warning);
  text-align: center;
}

.timeline-content h3:hover {
  margin-top: 0.3125rem;
  color: var(--color-danger);
  text-align: center;
}

@media(max-width: 768px) {
  .history {
    padding: 0.75rem;
  }

  .history .container {
    padding-left: 0;
  }
  .history-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/******** PORTFOLIO *******/

.portfolio-wrapper {
  background: var(--color-info-light);
  margin: 1rem;
  text-align: center;
}

.portfolio-image {
  width: 15rem;
  border: 1px solid var(--color-warning);
  height: 9rem;
  padding: 0.5rem;
  text-align: center;
}

.portfolio-image-box img {
  margin: 0.5rem;
}

.portfolio-image-box {
  text-align: center;
  display: inline-block;
  margin: 0.5rem;
}

.image-box-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/******** OVERLAY *******/

.overlay {
  position: absolute;
  opacity: 0;
  background: linear-gradient(rgba(0,0,0,0.8),#2f4858);;
  width: 15rem;
  height: 9rem;
  top: 1;
  border: 1px solid var(--color-warning);
  cursor: pointer;
  margin: 0.5rem;
  
}

.portfolio-image-box:hover .overlay {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -9rem;
  margin-top: 4.3rem;
  color: var(--color-warning);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}




/*********** MODAL **********/ 

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;

  border-radius: 8px;
}

img {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}