@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: #rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
}

/******* NAVBAR LINKS *********/

nav {
  z-index: 2;
}
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-dark);
} 

.navbar-nav > li > a:hover {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-warning);
} 

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--color-warning);
}

.navbar-brand {
  font-family: "Libre Baskerville" ;
  color: var(--color-warning) !important;
}

.navbar-toggler-icon {
  color: var(--color-white) !important;
}


/******* HEADER *********/

.header-wraper {
  position: relative;
  background: url(images/background33.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  z-index: 2;
}

.btn-main-offer:hover {
  color: var(--color-warning);
  transition: .5s ease;

}

.main-info h1 {
  color: var(--color-warning);
  font-size: 2.5rem;
  padding-bottom: 10px;
  border-bottom: 3px solid #e3e3eb;
  letter-spacing: 5px;
  font-family: "Libre Baskerville", sans-serif;
}

.main-info h2 {
  font-size: 2rem;
  padding-top: 5px;
  color: var(--color-warning);
  font-family: "Libre Baskerville", sans-serif;
  
}

/******** TYPED TEXT *******/

.typed-text {
  padding-top: 10px;
  font-size: 2rem;
  color: var(--color-white);
}

/******** MAIN OFFER BUTTON *******/

.btn-main-offer {
  border: 1px solid var(--color-warning);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px;
  color: var(--color-white);
  margin-top: 2rem;
}

/******** PARTICLES JS *******/

/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d48a100;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

/*Animation stuff*/
.main-info {
  animation-name: zoomIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    filter: blur(10px);
  }
  40% {
    transform: scale(1);
  }
  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

/******* ABOUT ME *********/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin-top: 3rem;
  width: 16rem;
  border-radius: 25%;
  padding: 0.3rem;
  border: 2px solid var(--color-warning);
  z-index: 2;
}

.about {
  font-size: 2rem;
  font-family: "Libre Baskerville", sans-serif;
  text-align: center;
  color: var(--color-warning);
  text-transform: uppercase;
  
}

.about-text {
  font-family: "Roboto Condensed";
  text-align: justify;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/******** EDUCATION *******/

.box {
  padding: 10rem 0;
  border: 1px solid var(--color-warning);
}

.box h3, p {
  font-family: "Roboto Condensed";
  text-align: center;
  
}

.education {
  background: var(--color-light);
  
}

.education h1 {
  font-size: 2rem;
  font-family: "Libre Baskerville", sans-serif;
  text-align: center;
  padding-top: 2rem;
  color: var(--color-warning);
  text-transform: uppercase;
}